.advantages {
  width: 320px;
  padding: 0;
}

.advantages__list {
  @include list-reset;
  @include font-light;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  text-align: center;

  color: $backgraund-main;
  background-color: $backgraund2;
}

.advantages__slogan {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
  margin-top: 40px;

  color: $backgraund-main;
  background-color: $backgraund1;
}

.advantages__24-hours {
  display: none;
}

@media (min-width: $tablet-width) {
  .advantages {
    width: 660px;
    margin: 0 auto;
  }

  .advantages__24-hours {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 660px;
    margin: 0 auto;

    @include font-light;
    font-size: 14px;
    line-height: 24px;
    text-transform: none;
    text-align: center;

    color: $backgraund-main;
    background-color: $backgraund1;
  }

  .advantages__footnote {
    width: 300px;
    padding-left: 40px;
    text-align: left;
  }

  .advantages__footnote-effect {
    @include font-bold;
    font-size: 32px;
    line-height: 34px;
    text-transform: none;
    text-align: left;

    color: $backgraund-main;
    background-color: $backgraund1;
  }

  .advantages__timer {
    width: 240px;
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    width: auto;
  }
}
