.advantages {
	margin: 0;
	padding: 0;

	border: 2px solid #FF0099;
}

.advantages__list {
	@include list-reset;

	@include font-light;
	font-size: 14px;
	line-height: 24px;
	text-transform: none;
	text-align: center;

	color: rgb(40,54,69);
	background-color: rgb(235, 237, 239);
}

.advantages__slogan {
	@include font-light;
	font-size: 24px;
	line-height: 30px;
	text-transform: none;
	text-align: center;

	color: rgb(40,54,69);
	background-color: rgb(255,255,255);
}
