.application-form {
  display: flex;
  background-color: $backgraund2;
}

.application-form__description {
  text-transform: uppercase;
  color: $highlight;
}

@media (min-width: $tablet-width) {
  .application-form {
    order: 1;

    background-color: $backgraund1;
  }
}

@media (min-width: $desktop-width) {
  .application-form {
    width: 440px;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 63px;
  }

  .application-list__item {
    margin: 42px;
  }
}
