.competition-form {
  width: 320px;
  margin: 0 auto;

  border: 2px solid #ff0099;
}

.competition-feedback__banner {
  width: 280px;
  margin: 0 auto;
}

.competition-form__description-form {
  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: $highlight;
}

.competition-form__submit {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: $backgraund1;
  background-color: $btn-submit;
}

.competition-form__required {
  @include font-regular;
  
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .competition-form {
    width: 660px;
  }

  .competition-feedback__banner {
    width: 440px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    width: 960px;
  }
}
