.competition-feedback {
  width: 320px;
  margin: 0 auto;

  border: 2px solid #ff0099;

  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
}

.competition-feedback__banner {
  color: $backgraund-main;
  background-color: $backgraund1;
}

.competition-form__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .competition-feedback {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .competition-feedback {
    width: auto;
  }
}
