.competition-feedback {
  border: 2px solid #ff0099;

  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
}

.competition-feedback__banner {
  color: $backgraund-main;
  background-color: $backgraund1;
}

.competition-form__list {
  @include list-reset;
}
