.competition-form {
  display: flex;
  flex-direction: column;
  width: $mobile-width;
  margin: 0 auto;
}

.competition-form__list {
  @include list-reset;
}

.competition-form__description-form {
  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: $highlight;
}

.competition-form__submit {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  width: 300px;
  color: $backgraund1;
  background-color: $green-submit;

  &:hover {
    background-color: $btn-submit-hover;
  }

  &:active {
    color: $green-submit;
    background-color: $btn-submit-hover;
  }
}

.competition-form__required {
  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.competition-form__star {
  color: $highlight;
  margin-left: auto;
  margin-right: 5px;
  padding-top: 15px;
}

@media (min-width: $tablet-width) {
  .competition-form {
    width: $tablet-width;
  }

  .competition-form__wrapper {
    order: 5;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .competition-form__application-form {
    width: $tablet-width;
  }

  .competition-feedback__banner {
    width: 500px;
  }
}

@media (min-width: $desktop-width) {
  .competition-form {
    width: $desktop-width;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .competition-feedback__banner {
    width: $desktop-max-width;
    min-height: 160px;
    margin-top: -130px;
  }

  .competition-form__application-form {
    width: 440px;
  }

  .competition-form__wrapper {
    width: 100%;
  }
}
