.downloads {
  padding-left: 20px;
  padding-right: 20px;
  width: 280px;
  display: flex;
  flex-direction: column;
  height: 200px;

  color: $backgraund1;
  background-color: $backgraund-main;
}

.downloads__btn {
  @include font-bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: none;

  padding: 10px;
  border: 3px solid #ffffff;
  border-radius: 50px 50px 50px 50px;
  text-align: center;

  color: $backgraund1;
  background-color: $backgraund-main;
  margin: 0 auto;
}

.downloads__info {
  @include font-light;
  font-size: 14px;
  line-height: 24px;
  text-transform: none;
  text-align: center;
}

.downloads__link-list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .downloads {
    margin-top: -210px;
    width: 300px;
    align-items: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .downloads {
    width: 320px;
    margin-left: 320px;
  }
}
