.headline {
  width: 320px;
  margin: 0 auto;
  height: 400px;

  display: flex;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 -70px;

  border: 2px solid #ff0099;
}

.headline__text {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-align: center;

  color: $backgraund1;
}

.headline__poster {
  position: relative;
  margin-top: 125px;
}

@media (min-width: $tablet-width) {
  .headline {
    width: 660px;
    margin: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headline__wrapper {
    width: 660px;
    margin: 0 auto;
    
  }

  .headline__poster {
    margin-left: 380px;
  }
}

@media (min-width: $desktop-width) {
  .headline {
    width: auto;
    height: 740px;
    background-image: none;
  }

  .headline__wrapper {
    width: 940px;
  }
}
