.headline {
  width: $mobile-width;
  margin: 0 auto;
  height: 395px;
  margin-bottom: -1px;

  display: flex;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
}

@media (max-width: $mobile-only) {
  .headline__text-index {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.headline__text {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-align: center;

  color: $backgraund1;
}

.headline__poster {
  position: relative;
  margin-top: 110px;
}

@media (min-width: $tablet-width) {
  .headline {
    width: $tablet-width;
    margin: 0;
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headline__wrapper {
    display: flex;
    width: $tablet-width;
    margin: 0 auto;
  }

  .headline__text-index {
    @include font-light;
    font-size: 24px;
    line-height: 30px;
    text-transform: none;
    text-align: center;

    color: $backgraund1;

    margin-top: 35px;
    width: 300px;
  }

  .headline__poster {
    margin-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .headline {
    width: auto;
    height: 740px;
    background-image: none;
  }

  .headline__wrapper {
    width: 940px;
  }

  .headline__poster {
    max-width: none;
    margin-top: 95px;
  }
}
