.our-contacts {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-align: center;

  color: $backgraund-main;
  background-color: $backgraund1;
}

.our-contacts__list {
  @include list-reset;
}

.our-contacts__title {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
}

.our-contacts__data {
  @include font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-align: center;

  color: $highlight;
  background-color: $backgraund1;
}

@media (min-width: $tablet-width) {
  .our-contacts__appeal {
    width: 660px;
    margin: 0 auto;
  }

  .our-contacts__headline {
    @include font-light;
    font-weight: 100;
    font-size: 42px;
    line-height: 34px;
    text-transform: none;
  }

  .our-contacts__list {
    width: 660px;
    margin: 0 auto;
  }
}
