.page-footer {
  width: 320px;
  margin: 0 auto;
}

.page-footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page-footer__logo {
  margin-top: 75px;
}

.page-footer__icon {
  fill: $highlight;
  margin-bottom: -15px;
}

.page-footer__icon--copyright:hover {
  fill: $backgraund-main;
}

.page-footer__icon--youtube {
  margin-left: 5px;
}

.social__list {
  @include list-reset;
  margin-top: 90px;
}

.page-footer__copyright {
  margin-top: 95px;
}

@media (max-width: $mobile-only) {
  .page-footer--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
    min-height: 200px;
  }
}
