.page-photo {
  border: 2px solid #FF0099;

  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  text-align: center;

  color: rgb(40,54,69);
  background-color: rgb(255,255,255);
}
