.page-footer {
  width: 320px;
  margin: 0 auto;
}

.social__list {
  @include list-reset;
}

.copyright__text {
  @include font-regular;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
  text-align: center;
}

@media (max-width: $mobile-only) {
  .page-footer__index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    display: flex;
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    width: 960px;
  }
}
