.page-photo {
  width: 320px;
  margin: 0 auto;

  @include font-regular;
  font-size: 14px;
  line-height: 30px;
  text-transform: none;
  text-align: center;

  color: $backgraund-main;
  background-color: $backgraund1;
}

@media (min-width: $tablet-width) {
  .page-photo {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page-photo {
    width: auto;
  }
}
