.page-header {
  width: $mobile-width;
  margin: 0 auto;

  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: $backgraund1;
  background-color: $backgraund-main;
}

.page-header__logo {
  display: flex;
  align-items: center;
  height: 40px;
  color: $backgraund1;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    margin: 0 auto;
  }

  .page-header__logo {
    height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: auto;
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: cover;
  }

  .page-header__logo {
    height: 80px;
    padding-left: 60px;
  }
}
