.tariff {
  display: flex;
  flex-direction: column;
  background-color: $backgraund2;
}

.tariff__wrapper {
  overflow-x: hidden;
}

.tariff__list {
  margin-left: -435px;
  width: 940px;
}

.tariff__name {
  @include font-bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;

  color: $backgraund1;
  background-color: $backgraund-main;

  padding-top: 18px;
  width: 235px;
}

.tariff__name--hit {
  position: relative;
  background-image: url("../img/bg-hit.svg");
  background-repeat: no-repeat;
}

.hit {
  position: absolute;
  left: 10px;
  top: 10px;
  transform: rotate(-45deg);

  text-transform: none;
}

.tariff__name--empty {
  background-color: $backgraund2;
}

.tariff__value {
  margin: 0;
  padding-bottom: 20px;

  @include font-light;
  font-size: 24px;
  line-height: 30px;
  text-transform: none;
  text-align: center;
}

.tariff__field {
  @include font-regular;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;

  color: $backgraund-main;
  background-color: $backgraund1;

  padding: 14px;
  padding-left: 25px;
  width: 235px;
}

.yes {
  fill: $green-submit;
}

.no {
  fill: $highlight;
}

@media (min-width: $tablet-width) {
  .tariff {
    width: auto;
    margin: 0;
  }

  .tariff__list {
    margin: 0 auto;
  }
}
