.upload-photo {
  width: 320px;
  margin: 0 auto;

  border: 2px solid #ff0099;
}

.items-form {
  color: $backgraund-main;
  background-color: $backgraund2;
}

.items-form__btn {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .upload-photo {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .upload-photo {
    width: 880px;
    padding: 0 40px;
  }
}
