$backgraund-main: #283645;
$backgraund1: #ffffff;
$backgraund2: #ebedef;
$highlight: #d22856;
$comment-date: #a8abaf;
$btn-submit: #2aab6d;
$tablet-width: 768px;
$desktop-width: 1200px;
$hover-nav: #1b242d;
$border-nav: #485461;
$shadow-border-nav: #000000;
$mobile-tablet-only: 1199px;
$mobile-only: 767px;
