$backgraund-main: #283645;
$backgraund-main-transparent: rgba(0, 0, 0, 0.3);
$backgraund1: #ffffff;
$backgraund2: #ebedef;
$highlight: #d22856;
$comment-date: #a8abaf;
$green-submit: #2aab6d;
$btn-submit-hover: #1c9b5e;
$tablet-width: 660px;
$desktop-width: 960px;
$desktop-max-width: 1200px;
$mobile-width: 320px;
$hover-nav: #1b242d;
$border-nav: #485461;
$shadow-border-nav: #000000;
$mobile-tablet-only: 959px;
$mobile-only: 659px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
